@import "settings";
@import "foundation";

@import "bower_components/foundation-sites/scss/settings/settings";
@import "bower_components/foundation-sites/scss/global";
@import "components/menu";
@import "components/menu-icon";
@import "bower_components/foundation-sites/scss/components/accordion";
@import "components/accordion-menu";

@include foundation-menu;
@include foundation-menu-icon;
@include foundation-accordion;
@include foundation-accordion-menu;

.hierarchy.menu.edit .is-accordion-submenu-parent > a:not(.edit-button) {
    position: static;
}

.hierarchy.menu {
    margin-bottom: 2rem;
}

.hierarchy.menu.edit a::after,
.hierarchy.menu a.is-not-drilldown-submenu-parent::after {
    border-color: transparent;
}

.hierarchy.menu .edit-buttons {
    display: none;
    z-index: 10;
}

.hierarchy.menu .edit-button {
    padding: .5rem .3rem .4rem .5rem;
    margin-right: .2rem;
    margin-top: .3rem;
    z-index: 10;
}

.hierarchy.menu.edit .edit-buttons {
    display: block !important;
}


.hierarchy.menu.edit .edit-buttons:hover + a,
.hierarchy.menu.edit a:not(.edit-button):hover {
    background-color: #f6f6f6;
}

.hierarchy.menu.edit a.selected,
.hierarchy.menu a {
    border: 1px solid transparent;
}

.hierarchy.menu a.selected {
    border: 1px solid #008ee8;
}

hr {
    margin: 2.75rem 0 2.5rem 0;
    border: solid #ddd;border-width: 1px 0 0;
    clear: both;
    height: 0;
    box-sizing: content-box;
}

.card-callout {
    padding: 1rem;
    margin-bottom: 1.5rem;
    background: #f7f7f7;
}

.card-help {
    padding: .5rem;
    margin-top: .5rem;
    color: #5f5f5f;
    font-size: .88rem;
}

.card-callout > p:last-child {
    margin-bottom: 0;
}

.iconic-color-gray * {
    fill: #6f6f6f;
    stroke: #6f6f6f;
}

.iconic-color-gray *.iconic-property-accent {
    fill: #6f6f6f;
    stroke: #6f6f6f;
}

.gray {
    color: #6f6f6f;
}

.icon-text {
    margin-left: .5rem;
}

.importance-block {
    margin: 1.2rem 1rem;
}

.importance-block li {
    padding: .5rem 0;
}

.block-list li.hierarchy-switch {
    border-top: 0;
}

.block-list li.hierarchy-switch span {
    color: #6f6f6f;
    padding: .4rem 4rem .4rem 1rem;
}
