---
name: evaluations
url: /
---

<div class="grid-container">
  <div class="grid-block horizontal v-align">
    <div class="grid-content align-center">
      <h1>Evaluations</h1>
    </div>
    <div class="grid-content align-center">
      <div class="clearfix">
        <a ui-sref="evaluations-new" href="#" class="primary button float-right" style="margin:0"><img zf-iconic="" icon="chevron" data-direction="right" size="small"> Add a new evaluation</a>
      </div>
    </div>
  </div>
  <div class="grid-block small-up-1 medium-up-3">
    <div class="grid-content">
      <div class="dark card">
        <img src="http://placekitten.com/g/400/200">
        <div class="card-divider">
          This is content
        </div>
        <div class="card-section">
          <h4>The Basics: Group and Block</h4>
          <p>The most basic elements in the Foundation for Apps grid are the Group and Block.</p>
        </div>
      </div>
    </div>

    <div class="grid-content">
      <div class="dark card">
        <img src="http://placekitten.com/g/400/200">
        <div class="card-divider">
          This is content
        </div>
        <div class="card-section">
          <h4>The Basics: Group and Block</h4>
          <p>The most basic elements in the Foundation for Apps grid are the Group and Block.</p>
        </div>
      </div>
    </div>
  </div>
</div>
